/*:root{
  font-size: 16px;
}
body{
  border:0;
  margin:0;
  padding:0;
}

.nav__contacts-position{
  display: inline-block;
  align-self: center;
}

.bg-projects{
  background-color: #f6f6f6;
  height: 415px;
  z-index: 1;
  position: relative;
}

.horizontal-list {
  list-style: none;
  display: inline;
  justify-content: space-evenly;
  margin: 5px;
  cursor: pointer ;
  justify-content: space-evenly;
}

.onePage__main-wrapper{
  margin:0 auto ;
  width:100%;
  min-width:335px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.content__main-wrapper{ 
  margin:0 auto ;
  width: 60% ;
  min-width: 630px;
}

.nav__padding{
  padding: 3px 0;
}

.nav__main-wrapper{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  top:0;
}

.nav__logo-wrapper{
  display:inline-block;
  width:6%;
}

.nav__inner-wrapper{
  display: inline-flex;
  justify-content: space-between;
  width: 94%;
}

.nav__media-wrapper{
  display:inline-block;
  width:20%;
}

.nav__button-position{
  display:inline-block;
  padding: 0;
}

.iconSize{
  font-size: 1.2rem;
}

.main-line {
  border-top: 1px solid #e66f95;
  border-bottom: none;
  margin:0;

}

.header__main-wrapper{
  padding: 200px 0;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.header__info-wrapper{
  display:inline-block ;
  width:50%;
  float:left;
}

.header__info-im{
  width: 60%;
  margin-left: 40%;
  height: 100%;
}

.header__info-content{
  position: relative;
  left: 0;
  top: -1.5rem;
}

.im-background{
  z-index: -1;
  width:50%;
}

.header__photo-wrapper{
  display:inline-block ;
  width:50%;
  height: 15.6rem;
  background: url(./assets/photoBG1.png) ; 
  background-size: cover; 
  position: relative;
  visibility: visible;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.header__photo-border{
  width: calc(15.6rem - 2rem);
  height: calc(15.6rem - 2rem);
  margin: 1rem;
  border-radius: 100%;
  background-color: silver;
  box-shadow: 8px 8px 58px #404040;
}

.logo{
  height: 1.5rem;
  position: relative;
  left: auto;
}

.photo{
  width: calc(15.6rem - 4rem);
  height: calc(15.6rem - 4rem);
  margin: 1rem;
  border-radius: 100%;
  box-shadow: 0 0 2rem #fff;
}

.about__main-wrapper{
  position: relative;
  height: 583px;
  background-color: #fff;
  z-index: 1;
}

.aboutMe__page-wrapper{
  background: url(./assets/bg__aboutMe.png) ;
  background-size:100%; 
  height: 550px;
  filter: drop-shadow(0px -20px 40px #888);
  position: relative;
  top: 0px;
  visibility: hidden;
}

.aboutMe__url-name{
  text-align:right;
  margin:0;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.1rem;
}

.aboutMe_inner-wrapper{
  background-color: #fff;
  color: #fff;
  padding:10px 20px;
}

.about-fontSize{
  font-size: 1.5rem;
  font-weight: 600;
}

.me-fontSize{
  font-size: 1.2rem;  
  font-weight: 600;
}


.left-border {
  border-left: 3px solid #f4f4f4;
}

.aboutMe__content-wrapper{
  color: #000;
  padding:.7rem 1rem;
  width: 50%;
}

.flex-wrapper{
  display: flex;
  margin: 1rem;
}

.aboutMe__skills-wrapper{
  color: #fff;
  padding:.7rem 1rem;
  width: 50%;
}

.barChart{
  background-color: #ecedee;
  width: 75%;
  margin: .5rem;
  border-radius: 6px;
  display:inline-block;
}

.barChart-color{
  background-color: #e25271;
  width: 75%;
  padding:5px 10px;
  border-radius: 6px;
}

.barChart-value{
  color:#000;
}

.projects-overlap{
  width: 37%;
  background-color: #e25271;
  z-index: 1;
  position: relative;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 3rem;
  text-align: right;
  padding: 0 20px;
}

.bg-position{
  position:relative;
  z-index: 1;
} 
  
.skills_nav-wrapper{
  margin: 10px 20px;
  padding: 10px 20px;
}

.skills_button-style{
  display:inline-block;
  width: calc(100% / 6 - 4px);
  text-align: center;
  font-weight: 600;
  white-space:nowrap;
}

.skills_button-hover:hover{
  position:relative;
  border-radius:42px;
  border:1px solid #e56385;
  padding: .2rem .5rem;
  box-sizing: border-box;
  white-space:nowrap;
}

.box{
  float: left;
  display: inline-block;
  background-color: pink;
  border-radius: 5%;
  color: #fff;
  width: calc(100% / 3 - 20px);
  height: 9rem;
  margin: 3px 3px;
}

.last-box{
  float:none;
}

.contact__scroll-title{
  height: 100px;
  position: relative;
  z-index: 1;
}

.empty{
  height:90vh;
  width: 100%;
}

.contact__main-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg-contact{
  height: 76vh;
  background-color: #2a2733;
  position: relative;
}

.contact__text-possition{
  display:flex;
  justify-content:center;
  position: relative;
  top: 50%;
}

.title__pagePart-style{
  font-size:2rem;
  z-index: 1;
  font-weight: bold;
}

.contact__inner-wrapper{
  background-color: #2a2733;
  text-align: center;
  height: 220px;
  width: 100%;
  position: fixed;
  top: calc(50vh - 150px);
  right: 0;
  z-index: 0;
}

.contact__name{
  background-color:#fff;
  border-radius:7px;
  border:1px solid #ee5577;
  color:#000;
  width:25%;
  padding: 5px 10px;
}

.contact__email{
  background-color:#e56385;
  border-radius:7px;
  border:1px solid #ee5577;
  color:#ffffff;
  width:25%;
  padding: 5px 10px;
}

.emailTextStyle{
  color: #fff;
  position:relative;
  right:11%;
  font-size: 8px;
}

.whiteTextColor{
  color:#fff;
  text-decoration:none;
}

.pinkTextColor{
  color:#e56385;
  text-decoration:none;
}

.grayTextColor{
  color: #4f4f4f;
  text-decoration:none;
}

.header-textSize{
  font-size: 1.1rem;
  margin: 0;
  white-space: nowrap;
}

.header-nameTextSize{
  font-size: 1.75rem;
  margin: 0;
  white-space: nowrap;
}

.allButt{
  display:inline-block;
  cursor:pointer;
  padding: calc(.25rem) calc(.75rem);
  text-decoration:none;
  font-weight: 600;
}

.allButt:active{
  position:relative;
  top:1px;
}

.allButt:hover {
  text-shadow:1px 1px 1px #241e24;
}

.nav__contact-button {
  background-image: url(./assets/bg_contact.png);
  background-size:100%;
  color:#ffffff;
}

.pinkBorderButton{
  color:#e56385;
  border-radius:42px;
  border:1px solid #e56385;
  padding: 2px 15px;
}

.outline-none{
  outline: none;
}

.objSize{
  z-index: 1;
  transform: scale(.7, .7);
  -ms-transform: scale(.7, .7);
  -webkit-transform: scale(.7, .7);
}

.backGround__wave1{
  position: absolute;
  top: 200px;
  left: 36%;
}
.backGround__wave2{
  position: absolute;
  top: 570px;
  left: 7%;
}
.backGround__wave3{
  position: absolute;
  top: 550px;
  left: 89%;
}
.backGround__obj1{
  position: absolute;
  top: 100px;
  left: 70%;
}

.backGround__obj2{
  position: absolute;
  top: 535px;
  left: 44%;
}

.contact__send{
  background-color:#4f4f4f;
  border-radius:42px;
  border:1px solid #ee5577;
  color:#ffffff;
  padding: .5rem 2.5rem;
}


.bg-on{
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: auto;
  left: 0;
}

.BGcontact{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.backGround__elipsa{
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
}

.footer__main-wrapper{
  height: 24vh;
  background-color: #26212e;
  color: #fff;
  text-align: center;
  position: relative;
}

.bg-elipsa{
  background: url(./assets/BG_elipsa.png);
  background-size: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  left: calc(50% - 35px);
  bottom: calc(100% - 35px);
  z-index: 1;
}

.BG-bGelipsa{
  position: absolute;
  left: calc( 50% - 200px);
  bottom: 0;
  width: 400px;
}

.triangle{
  margin:20px;
 }

.footer__inner-wrapper{
  padding-top: 37px; 
}

.footer__icon-size{
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 1rem;
  font-size: 22px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.footer__bgIcon-pink{
  background: url(./assets/bg-footerInsta.png);
  background-size:100%;
}

.footer__bgIcon-gray{
  background: url(./assets/bg-footerFb.png);
  background-size:100%;
} 

.footer-line{
  border-top: 2px solid #e66f95;
  border-bottom: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.img-fit{
  width:100%;
}

@media only screen and (max-width: 1060px){
  :root{
    font-size: 15px;
  }
  .about__main-wrapper {
    height: 480px;
  }

 }

@media only screen and (max-width: 920px){
  :root{
    font-size: 14px;
  }

  .content__main-wrapper {
    margin: 0 auto;
      width: 75%;
      min-width: 500px;
    }

    .objSize{
    transform: scale(.5, .5);
    -ms-transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
  }

  .contact__name {
      width: 50%;
  }

  .contact__email{
      width: 50%;
  }

  .emailTextStyle {
    right: 23%;
  }
 

}


@media only screen and (max-width: 820px){
  :root{
    font-size: 12px;
  }
   .about__main-wrapper {
    height: 450px;
  }
  .bg-projects {
    height: 360px;
}
.contact__scroll-title {
    height: 80px;
}

}


@media only screen and (max-width: 685px){

  .content__main-wrapper {
    margin: 0 auto;
      width: 95%;
      min-width:100px;
    }

    .nav__main-wrapper {
      padding: 0;
    }

    .nav__inner-wrapper{
    width:78%;
  }

  .nav__media-wrapper{
    width:16%;
  }

    .header__info-im {
    width: 95%;
    margin-left: 2.5%;
  }

    .objSize{
    transform: scale(.5, .5);
    -ms-transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
  }

  .backGround__wave2{
    top: 500px;
  }
  .backGround__wave3{
    top: 500px;
  }
  .backGround__obj2{
    top: 450px;
  }
   .about__main-wrapper {
    height: 420px;
  }
   .about__main-wrapper {
    height: 420px;
  }
}

@media only screen and (max-width: 600px){
  :root{
    font-size: 10px;
  }

  
   .about__main-wrapper {
    height: 400px;
  }
  .bg-projects {
    height: 320px;
}
.contact__scroll-title {
    height: 60px;
}
.backGround__elipsa {
    top: 16px;
}

}


@media only screen and (max-width: 500px){
  :root{
    font-size: 10px;
  }

  .onePage__main-wrapper {
      width: 100%;
  }

  .content__main-wrapper {
    margin: 0 auto;
      width: 90%;
      min-width: 0;
    }

    .nav__main-wrapper {
      padding: 0;
    }

    .nav__inner-wrapper{
    width:65%;
  }

  .nav__media-wrapper{
    width:29%;
  }

    .header__info-im {
      width: 95%;
    margin-left: 5%;
  }

  .flex-wrapper {
      display: block;
  }

  .about__main-wrapper {
      height: 532px;
  }

  .aboutMe__page-wrapper {
      height: 589px;
      background-color: #fff;
    border-radius: 2%;
  }

  .aboutMe__skills-wrapper,
  .aboutMe__content-wrapper{
      width: 100%;
  }

  .backGround__wave1 {
     top: 170px;
    left: 160px;
  }

  .backGround__wave2{
    top: 420px;
    left: 20px;
  }

  .backGround__wave3{
   top: 420px;
    left: 280px;
  }

  .backGround__obj1{
    top: 150px;
    left: 300px;
  }

  .backGround__obj2{
   top: 400px;
    left: 160px;
  }

  .objSize{
    transform: scale(.3, .3);
    -ms-transform: scale(.3, .3);
    -webkit-transform: scale(.3, .3);
  }
}


@media only screen and (max-width: 400px){
  :root{
    font-size: 8px;
  }

    .about__main-wrapper {
      height: 440px;
  }
   .bg-projects {
    height: 280px;
}

}
*/