@import './variables';
@import './normalize';
@import './fonts.scss';

body{
  border:0;
  margin:0;
  padding:0;
}

html{
  font-size: 16px;
	scroll-behavior: smooth;
	font-family: Lato, sans-serif;
}	

body{
	font: normal normal normal 1rem 'Lato';
	overflow-x: hidden;
	background-color: $c-white;
	color: $c-white;
}



/* Media Queries
*************************** */


@media only screen and (max-width: $break-laptop){
  html{
    font-size: 15px;
  } 
 }

@media screen and (max-width: $break-mid){

  html{
    font-size: 14px;
  }
}

@media screen and (max-width: $break-s-mid){
  html{
    font-size: 12px;
  }
}

@media screen and (max-width: $break-xs-mobile){
  html{
    font-size: 10px;
  }
}

@media screen and (max-width: $break-xs){
  html{
    font-size: 8px;
  }
}
