// converting px to rem,with default 1rem = 16px 
@function pxToRem ($pxsize, $rembase:16px){
	@return ($pxsize/$rembase) + rem;
}

 @mixin boxShadow($arg){
    -webkit-box-shadow: $arg;
    box-shadow: $arg;
 }  

 @mixin myScale($value){
    transform: scale($value, $value);
    -ms-transform: scale($value, $value);
    -webkit-transform: scale($value, $value);
 }  

  @mixin borderBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
 }  

//prefixes use in 2 functions 
$prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex );
    
 @mixin myFlex(){
 	//$prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex );
 	@each $prefix in $prefixes{
 		display: $prefix;
 	}
 }	

@mixin createPosition($pos:relative,$top: 0,$left:0,$bot:false,$right:false){
   
    position: $pos;
    @if  $bot {
        bottom:$bot;
    }@else {
        top: $top;
    }

    @if  $right{
        right:$right;
    }@else {
       left: $left; 
    }
 }  

$elements : 
"wave1" 110px 34%,
"wave2" 420px 7%,
"wave3" 420px 89%,
"obj1"  75px 70%,
"obj2"  395px 44%;


@each $name, $top, $left in $elements{
    .backGround__#{$name}{
        position: absolute;
        top: $top;
        left: $left;
    }
} 


@media screen and (max-width: $break-s-mid){

  .backGround__wave1 {
    top: 80px;
    left: 36%;
  }

  .backGround__obj1 {
    position: absolute;
    top: 63px;
    left: 73%;
  }

  .backGround__wave2 {
    top: 371px;
  }

  .backGround__obj2 {
    top: 354px;
  }

  .backGround__wave3 {
    top: 371px;
  }
}

@media screen and (max-width: $break-xs-mobile){


  .backGround__wave1 {
    top: 96px;
    left: 31%;
  }

  .backGround__wave2 {
    top: 310px;
  }

  .backGround__obj2 {
    top: 310px;
    left: 40%;
  }

  .backGround__wave3 {
    top: 325px;
    left: 80%;
  }
}