/* =Colors
************************************* */
$c-black: #000000;
$c-thunder: #241E24;
$c-bastille:#26212E;
$c-caltic_sea: #2A2733;

$c-tundora: #404040;
$c-emperor: #4F4F4F;
$c-gray: #888888;
$c-silver: #C0C0C0;

$c-french_rose: #EE5577;
$c-mandy : #E25271;
$c-deep_blush2: #E56385; 
$c-deep_blush: #E66F95;

$c-white: #ffffff;
$c-wild_sand: #f6f6f6;
$c-porcelain: #ECEDEE;

/* =Fonts
************************************* */

/* =Breaks
************************************* */
$break-xs:400px;
$break-s:480px;
$break-xs-mobile:600px;
$break-s-mobile:685px;
$break-mobile:767px;
$break-s-mid:820px;
$break-mid:991px;
$break-laptop:1060px;
$break-high:1600px;



/* =Paddings, Margins
************************************* */
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-large: 40px;


/* =Lists
************************************* */
$sizes:8.33333333%,16.66666667%,25%,33.33333333%,41.66666667%,50%,58.33333333%,66.66666667%,75%,83.33333333%,91.66666667%,100%;
