/* About
*************************** */
.about{
  &__main-wrapper{
    @include createPosition();
    height: 583px;
    background-color: $c-white;
    z-index: 1;
  }
  
  &__content-wrapper{
    background: url(../../../../assets/bg__aboutMe.png) ;
    background-size:100%; 
    height: 550px;
    filter: drop-shadow(0px -20px 40px $c-gray);
    @include createPosition();
    visibility: hidden;
  }
  
  &__url-path{
    text-align:right;
    margin: 0 ;
    padding: .5rem 1rem;
    color: $c-white;
    font-size: 1.1rem;
  }
  
  &__inner-wrapper{
    background-color: $c-white;
    color: $c-white;
    padding:$space-x-small $space-standard;
  }

  &__title{
    &-fontSize{
      font-size: 1.5rem;
      font-weight: 600;
    }
  
    &-fontSize2{
      font-size: 1.2rem;  
      font-weight: 600;
    }
  }
}

.aboutMe__content-wrapper{
  color: $c-black;
  padding:.7rem 1rem;
  width: 50%;
}

.left-border {
  border-left: 3px solid $c-wild_sand;
}

.barChart{
  &__main-wrapper{
    display:block;
  }

  &__inner-wrapper{
    background-color: $c-porcelain;
    width: 75%;
    margin: .5rem;
    border-radius: 6px;
    display:inline-block;
  }
  
  &__bg-color{
    background-color: $c-mandy;
    width: 75%;
    padding:$space-xx-small $space-x-small;
    border-radius: 6px;
  }
  
  &-value{
    color:$c-black;
  }
}

.BGround__image-On{
  z-index: 1;
  @include createPosition(absolute,0,false,0);
  width: 100%;
  height: auto;
}


/* Projects
*************************** */

.projectsTitle{
  &__main-wrapper{
    background-color: $c-wild_sand;
    height: 450px;
    z-index: 1;
    @include createPosition();
  }

  &-overlap{
    width: 37%;
    background-color: $c-mandy;
    z-index: 1;
    @include createPosition();
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 3rem;
    text-align: right;
    padding: 0 $space-standard;
  }

  &__title-style{
    font-size:2rem;
    z-index: 1;
    font-weight: bold;
  }
}

.projects{
  &__content-wrapper{
    display: block;
  }

  &__navigation-wrapper{
    margin: $space-x-small 0;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
}


.projects__boxes-wrapper{ 
    width: 100%; 
    display: block; 
}

.box{
  float: left;
  background-color: $c-deep_blush;
  border-radius: 5%;
  color: $c-white;
  width: calc(100% / 3 - 6px);
  height: 9rem;
  margin: 3px 3px;
  justify-content: center;
  align-items: center;
  @include myFlex();

  .last{
    float:none;
  }
}


/* Media Queries
*************************** */
@media only screen and (max-width: $break-laptop){

  .about__main-wrapper {
    height: 480px;
  }
 }

@media screen and (max-width: $break-s-mid){

  .projectsTitle__main-wrapper {
    height: 340px;
  }

  .about__main-wrapper {
    height: 450px;
  }
}

@media screen and (max-width: $break-s-mobile){

  .about__main-wrapper {
    height: 420px;
  }
}

@media screen and (max-width: $break-xs-mobile){

  .about__main-wrapper {
    height: 400px;
  }
}


@media screen and (max-width: $break-s){

  .about__main-wrapper {
      height: 532px;
  }

  .aboutMe__content-wrapper {
      width: 100%;
  }
}


@media screen and (max-width: $break-xs){

  .projectsTitle__main-wrapper {
    height: 260px;
  }

  .about__main-wrapper {
    height: 440px;
  }
}
