
/* Buttons
*************************** */

.allButtons{
  display:inline-block;
  cursor:pointer;
  padding: calc(.25rem) calc(.75rem);
  text-decoration:none;
  font-weight: 600;
}

.allButtons:active{
  @include createPosition(relative,1px);
}

.allButtons:hover {
  text-shadow:1px 1px 1px $c-thunder;
}



/* Navigatoin Buttons
*************************** */

.navigation {

  &-buttons{
    display:inline-block;
    padding: 0;
  }
  
  &__contact-button {
    background-image: url(../../../../assets/bg_contact.png) ;
    background-repeat: no-repeat;
    background-size:100%;
    color:$c-white;
  }
}


/* Projects Buttons
*************************** */

.projects{
  &__button-style{
    display:inline-block;
    width: calc(100% / 6 - 4px);
    text-align: center;
    font-weight: 600;
    white-space:nowrap;

    a:hover{
       @include createPosition();
      border-radius:42px;
      border:1px solid $c-deep_blush2;
      padding: .2rem .5rem;
      box-sizing: border-box;
      white-space:nowrap;
    }
  }
}


/* Contact Buttons
*************************** */

.contact__send-button{
  background-color:$c-emperor;
  border-radius:42px;
  border:1px solid $c-french_rose;
  color:$c-white;
  padding: .5rem 2.5rem;
}

