/* Contact Title 
*************************** */

.contactTitle{
  &__main-wrapper{
    height: 100px;
    @include createPosition();
    z-index: 1;
  }
  
  &__BGround-img{
    z-index: 0;
    @include createPosition(absolute);
    width: 100%;
    height: 100%;
  }
  
  &__elipsa-img{
    z-index: 1;
    @include createPosition(absolute,$space-large);
    width: 100%;
  }
  
  &__text-style{
    @include myFlex();
    justify-content:center;
    @include createPosition(relative,50%);
    font-size:2rem;
    z-index: 1;
    font-weight: bold;
  }
}


/* Contact
*************************** */

.contact{
  &__form-wrapper{
    background-color: $c-caltic_sea;
    text-align: center;
    height: 220px; 
    width: 100%;
    @include createPosition(fixed,calc(50vh - 150px));
    z-index: 0;
  }
  
  &__text-input{
    background-color:$c-white;
    border-radius:7px;
    border:1px solid $c-french_rose;
    color:$c-black;
    width:25%;
    padding: $space-xx-small $space-x-small;
  }
  
  &__email-title{
    color: $c-white;
    @include createPosition(relative,false,false,0,11%);
    font-size: pxToRem(8);
  }
  
  &__email-input{
    background-color:$c-deep_blush2;
    border-radius:7px;
    border:1px solid $c-french_rose;
    color:$c-white;
    width:25%;
    padding: $space-xx-small $space-x-small;
  }
}

/* Media Queries
*************************** */

@media screen and (max-width: $break-mid){

  .contact{
    &__text-input,
    &__email-input{
      width: 50%;
    }
    
    &__email-title{
      right: 23%;
    }
  }
}

@media screen and (max-width: $break-s-mobile){

  .contactTitle__main-wrapper {
    height: 60px; 
  }

  .contactTitle__elipsa-img {
    top: $space-x-small;
  }

  .contactTitle__text-style {
    top: 35%;
  }
}

@media screen and (max-width: $break-xs-mobile){

  .contactTitle__main-wrapper {
    height: $space-large; 
  }

  .contactTitle__elipsa-img {
    top: 0;
  }
  
  .contactTitle__text-style {
    top: 20%;
  }
}