
/* Footer
*************************** */
.footer{
  &__main-wrapper{
    height: 100vh;
    width: 100%;
    @include createPosition(fixed,false,false,0,0);
    z-index: -1;
  }

  &__inner-wrapper{
    height: 24vh;
    background-color: $c-bastille;
    color: $c-white;
    text-align: center;
    @include createPosition();
    z-index: 1;
  }

  &__content-wrapper{
    padding-top: $space-large; 
  }
}

.footerGraphics{

  &__bGround-elipsa{
    height: 76vh;
    background-color: $c-caltic_sea;
    @include createPosition();
    img {
      @include createPosition(absolute,false,0,0);
      left: calc( 50% - 200px);
      width: 400px;
    }
  }

  &__bGround-elipsa2{
    background: url(../../../../assets/BG_elipsa.png);
    background-size: 100%;
    height: 70px;
    width: 70px;
    @include createPosition(absolute,false,calc(50% - 35px),calc(100% - 35px));
    z-index: 1;
  
    img {
      margin:$space-standard;
    }
  }
  
  &__icon-size{
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 1rem;
    font-size: 22px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     @include createPosition();
  }
  
  &__bgIcon-pink{
    background: url(../../../../assets/bg-footerInsta.png);
    background-size:100%;
  }
  
  &__bgIcon-gray{
    background: url(../../../../assets/bg-footerFb.png);
    background-size:100%;
  } 
  
  &__bot-line{
    border-top: 2px solid $c-deep_blush;
    border-bottom: none;
    width: 100%;
    @include createPosition(absolute,false,0,0);
  }
}