/**************************
    Navigatoin & Header
*************************** */

/* Navigatoin
*************************** */

.navigation {
  
  &__main-wrapper{
    width: 100%;
    z-index: 1;
    background-color: $c-white;
    @include createPosition();
    @include borderBox();
  }

  &__logo-wrapper{
    display:inline-block;
    width:6%;
    height:100%;
    img{
      @include createPosition(relative,$space-xx-small);
    }
  }
  
  &__buttons-wrapper{
    display: inline-flex;
    justify-content: space-between;
    width: 94%;
  }
  
  &__main-line {
    border-top: 1px solid $c-deep_blush;
    border-bottom: none;
    margin: 0 ;
  }
}


/* Header
*************************** */

.header{
  &__main-wrapper{
    padding: 150px 0;
    height: 100%;
    background-color: $c-white;
    @include createPosition(relative);
    z-index: 1;
  }

  &__content{
    &-wrapper{
      width:50%;
      float:left;
    }
  
    &-im{
      width: 60%;
      margin-left: 40%;
      height: 100%;
    }
    
    &-information{
      @include createPosition(relative,-1.5rem);
    }
  }

  &__im-background img{
    z-index: -1;
    width:50%;
  }

  &-textSize{
    font-size: 1.1rem;
    margin: 0;
    white-space: nowrap;
  }
  
  &-nameTextSize{
    font-size: 1.75rem;
    margin: 0;
    white-space: nowrap;
  }

  &__photo{
    &-border{
      width: calc(15.6rem - 2rem);
      height: calc(15.6rem - 2rem);
      margin: 1rem;
      border-radius: 100%;
      background-color: $c-silver;
      @include boxShadow(8px 8px 58px $c-tundora);// box-shadow: 8px 8px 58px $c-tundora;
      img {
        width: calc(15.6rem - 4rem);
        height: calc(15.6rem - 4rem);
        margin: 1rem;
        border-radius: 100%;
        @include boxShadow(0 0 2rem $c-white);
      }
    }
  
    &-wrapper{
      display:inline-block ;
      width:50%;
      height: 15.6rem;
      background: url(../../../../assets/photoBG1.png) ; 
      background-size: cover; 
      @include createPosition();
      visibility: visible;
      border-top-left-radius: 150px;
      border-bottom-left-radius: 150px;
    }
  }
}

.objSize{
  z-index: 1;
  @include myScale(.7);
}

/* Media Queries
*************************** */

@media screen and (max-width: $break-mid){

  .objSize{
    @include myScale(.5);
  }
}

@media screen and (max-width: $break-s-mobile){

  .header__content-im{
    width: 95%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: $break-s){

  .objSize{
    @include myScale(.3);
  }
}