
/* Sections
*************************** */

.main-onePage__wrapper{
  margin: 0 auto ;
  width:100%;
  min-width:335px;
  font-family: 'Roboto', sans-serif;
  @include createPosition();
  @include borderBox();
}

.content__main-wrapper{ 
  margin: 0 auto ;
  width: 60% ;
  min-width: 630px;
}

.logo{
  height: 1.5rem;
  @include createPosition(relative,0,auto);
}

.pinkTextColor{
  color:$c-deep_blush2;
  text-decoration:none;
}

.grayTextColor{
  color: $c-emperor;
  text-decoration:none;
}

.whiteTextColor{
  color:$c-white;
  text-decoration:none;
}

.iconSize{
  font-size: 1.2rem;
}

.pinkBorderButton{
  color:$c-deep_blush2;
  border-radius:42px;
  border:1px solid $c-deep_blush2;
  padding: 2px $space-small;
}

.flex-wrapper{
  @include myFlex();
  margin: 1rem;
}

.outline-none{
  outline: none;
}

.empty{
  width: 100%;
  height:90vh;
  width: 100%;
  z-index:-3;
}


/* Media Queries
*************************** */


@media screen and (max-width: $break-mid){

  .content__main-wrapper {
    margin: 0 auto;
    width: 75%;
    min-width: 500px;
  }
}

@media screen and (max-width: $break-s-mobile){

  .content__main-wrapper {
    margin: 0 auto;
    width: 95%;
    min-width:100px;
  }
}

@media screen and (max-width: $break-s){

  .main-onePage__wrapper {
      width: 100%;
  }

  .content__main-wrapper {
    margin: 0 auto;
    width: 90%;
    min-width: 0;
  } 

  .flex-wrapper {
      display: block;
  }
}